

.swiper {
  width: 100%;
  max-width: 800px;
  overflow: hidden;

  @media (max-width: 576px) {
    .swiper {
      height: auto; /* Evita schiacciamento forzato */
    }
  }
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 3 / 2;
}

.swiper-slide img {
  display: block;
  width: 100%;
  max-width: 350px;
  aspect-ratio: 3 / 2;
  object-fit: cover; 
}

/* Aggiungi uno stile alle frecce personalizzate */
.swiper-button-prev, .swiper-button-next {
  position: absolute;
  top: 50%;
  z-index: 10;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5); /* Sfondo semi-trasparente */
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;

  @media(max-width: 576px) {
    top: 50%;
  }
}

.swiper-button-prev {
  left: 10px;
}

.swiper-button-next {
  right: 10px;
}

/* Rendi visibili le frecce solo quando sono effettivamente necessarie */
.swiper-button-prev, .swiper-button-next {
  display: flex;
  justify-content: center;
  align-items: center;
}
