$color-primary: #CDFCF6;
$color-secondary: #8094f8;
$color-tertiary: #9cb9fb;
$color-dark: #070606;
$color-light-dark:#3a3b3dbb;
$color-background: #f8f7f6;

$font-primary: "Raleway", sans-serif;;
$font-secondary: 'Open Sans', sans-serif;

$text-small-p: 0.8em;
$text-medium-p: 1em;
$text-large-p: 1.4em;
$text-extra-large-p: 1.8em;

$text-small-title: 1.4em;
$text-medium-title: 1.8em;
$text-large-title: 2.8em;
$text-extra-large-title: 3.5em;